body {
  margin: 0;
  font-family: sans-serif;
}

/* DARK MODE */
.dark {
  background: #020617;
  color: white;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: #020617;
  color: white;
  min-height: 100vh;
  padding: 20px;
}

/* NAVBAR */
.navbar {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 0 20px;
  border-bottom: 1px solid #ddd;
}

/* CHATBOT */
.chatbot {
  width: 300px;
  background: #f1f5f9;
  min-height: 100vh;
  padding: 15px;
}